.searchbar {
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;

  border-top: 1px solid #ccc;

  width: 100%;
  z-index: 100;
  margin-left: -9%;

  box-shadow: none !important;
}

.content {
  width: 100%;
  overflow: scroll;

  margin-top: 60px;

  flex: 0 1 auto;
}

.icon {
  font-size: 50px;
  color: var(--primary-color);
}



.category-slots {
  margin-bottom: 90px;

  display: flex;
  flex: 0 50%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-cards-div {
  width: 48%;

  margin-top: 0.8rem;

  cursor: pointer;
}

.category-cards {
  background-color: #f4f4f4;
  color: var(--primary-color);

  width: 100%;
  height: 150px;

  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-cards:hover {
  background-color: #e4e4e4;
}

.category-cards:active {
  background-color: #d4d4d4;
}

.category-cards .category-title {
  text-align: center;
}

.category-slots .category-cards .ion-icons {
  font-size: 120px;
  margin: 10% auto;
}

.file-list {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.main-container .file-list {
  margin-bottom: 60px;
}

.file-list .list-item {
  background-color: #f4f4f4;
  border-radius: 25px;

  width: 100%;
  height: 120px;

  margin: 0.6rem 0 0 0;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.file-details {
  display: flex;
  direction: row;
}

.file-additional-details {
  color: #e4e4e4;
  font-size: small;
  background-color: rgb(82, 82, 82);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  width: 100%;

  margin-bottom: 0.6rem;
  padding: 20px 20px 1px 20px;

  z-index: -10;
  position: relative;
  top: -25px;
}

.file-info .heading {
  font-size: 14px;
  padding: 0 4px;
}

.file-info table {
  font-size: 14px;

  table-layout: fixed;

  width: 100%;
  height: 60%;

  margin: 15px 1px;
}

.file-info table td {
  padding: 0 4px;
}

.file-info table tr td p {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  width: 100%;

  margin: 5px 0;
}

.file-list .list-item:hover {
  background-color: #e4e4e4;
}

.file-list .list-item:active {
  background-color: #d4d4d4;
}

.file-list .list-item .file-icon {
  width: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.file-list .list-item .file-icon img {
  border-radius: 5px;
}

.file-list .list-item .file-info {
  width: 55%;

  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.file-additional-details span {
  font-weight: bold;
  font-size: 14px;

  margin-top: 10px;

  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-additional-details p {
  font-size: 12px;

  margin: 3px 0;
}

.file-list .list-item .file-options {
  width: 20%;

  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-list .list-item .file-options p {
  font-size: 14px;
}

.item-header {
  border-bottom: 1px dashed #ccc;

  margin: 0.1rem 0;
  padding: 0.1rem 0.4rem;

  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item-header h4 {
  position: relative;
  top: -5px;
}

.options-button {
  color: black;
  background-color: #f4f4f4;

  z-index: 99;

  font-size: 32 !important;
  font-weight: bold;

  padding: 15px;

  border-radius: 25px !important;

  outline: none;
}

.options-button:hover {
  background-color: var(--secondary-color);
}

.options-button:active {
  background-color: var(--tertiry-color);
}