.login-background-image {
    z-index: -1;
    margin-top: -20px;
}

.login-main-panel {
    position: relative;
    top: auto;
}


.login-title {
    font-size: 26px;
    font-weight: bold;

    margin: .4rem 0;
}

.resend-otp {
  text-align: center;

  margin: auto;
}

.otp-input-style {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.3);
}

.otp-input-error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}