.toolbar {
    position: fixed;
    background-color: white;

    z-index: 100;
    height: 66px;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.toolbar-normal-tabs {
    position: fixed;
    width: 100%;
    height: 20px;

    margin-top: 66px;
    background: linear-gradient(white, transparent);
}

.toolbar-after-tabs {
    position: fixed;
    width: 100%;
    height: 20px;

    margin-top: 120px;
    background: linear-gradient(white, transparent);
}

.header-margin {
    margin-top: 83px;
}

.header-margin-tabs {
    margin-top: 150px;
}

.menu-button {
    color: #10c1cb;
    
    margin-left: 29px;
    margin-top: 25px;
}

.toolbar-header {
    color: #10c1cb;
    font-weight: bold;
    font-size: 26px;

    position: relative;
    top: 7px; 

    margin-left: .5rem;
}