.profile-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card-content {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-card-item span {
  font-size: 0.8rem;
  color: #888;
}

.profile-card-item p {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0.6rem;
}