.hidden {
  display: none;
}

.notification-entry {
  width: 100%;

  background-color: rgb(228, 228, 228);
  color: rgb(44, 44, 44);

  border-radius: 20px;

  padding: 20px;
  margin-bottom: 20px;
}

.notification-entry .header {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #ccc;
}

.notification-entry .header .title {
  font-weight: bold;
}

.notification-title {
  margin-left: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dismiss-button:last-of-type {
  margin-left: auto;

  display: flex;
  align-items: center;

  z-index: 999;
}

.dismiss-button .dismiss-button-btn {
  border-radius: 15px;
  padding: 7px;
}

.dismiss-button .dismiss-button-btn:hover {
  background-color: rgb(238, 238, 238);
}

.dismiss-button .dismiss-button-btn:active {
  background-color: #ccc;
}
