.upload-content-container {
    /* This should be removed. Just a temp fix */
    top: 60px;
}

.upload-container {
    width: 100%;
}

.vertically-center {
    margin-top: 35vh;
}

.additional-fields {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;

    padding-left: 40px;
    padding-bottom: 10px;
}

.additional-fields-input {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.save-file-container {
    margin-bottom: 4rem;
}




.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
}

.custom-file-label:active::after {
    background-color: #c1c4c7;
}