:root {
    --primary-color: #3f84fd;
    --secondary-color: #478aff;
    --tertiry-color: #5f99fd;
    --muted-color: rgb(161, 161, 161);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.muted {
    color: var(--muted-color);
}

.main-container {
    background-color: transparent;

    width: 85%;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
}

.center {
    margin: 0 auto;
}

.row-vertical {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.custom-button {
    color: white;
    background-color: var(--primary-color);

    font-size: 32 !important;
    font-weight: bold;
    min-width: 150px;

    padding: 15px;

    border-radius: 25px !important;

    outline: none;
}

.custom-button:hover {
    background-color: var(--secondary-color);
}

.custom-button:active {
    background-color: var(--tertiry-color);
}

.text-center {
    text-align: center;
}

ion-item {
    margin: 1rem 0 !important;
}

.menu-tabs {
  width: 100%;
  padding: 10px;

  z-index: 100000;

  background-color: white;
  margin-top: 66px;

  position: fixed;

  display: flex;
}

.menu-tabs-icon {
  color: #10c1cb;
}

.menu-tabs-icon ion-icon {
  padding: 5px 0 5px 0;
}